.dashboard_container{
    margin:0% 2% 0% 0%;
    display:grid;
    grid-template-columns:5vw repeat(11,1fr);
    /* grid-template-rows: repeat(5,20vh); */
    grid-template-rows: 11vh 19vh 20vh 40vh;
    gap:1vw;
  }

.dashboard_header{
    grid-column:2/-1;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:100%;
    align-items: center;
    border-bottom: 0.1em solid black;
}

.dashboard_header>h1{
    font-weight:bold;
    font-size:1.6em;
    display:inline;
}

.dashboard_header>img{
    width:40%;
    grid-column:-1/-1;
}
.active-select,.button-main:hover{
    background-color: #ff1149;
}

.button-main:hover{
    color: white;
    border: #ff1149;
}
.button-main{
    background-color: white;
    width: 150%;
}

.button-section{
    grid-column:-3/-3;
}

.dashboard_right{
    grid-column: 5/-1; 
    padding:1vw;
}

#dashboard{
    display:"grid";
    grid-template-columns:"5vw repeat(11,1fr)";
    grid-template-rows:"repeat(5,20vh)";
    gap:"2%";
}

.dashboard_left{
    grid-column: 2/5;
    grid-row: 2/-1;
}

.map-container{
    grid-row:2 / 4;
}

.map-container-resize{
    grid-row: 2/3;
}

@media screen and (max-width:850px){
    .dot-image{
        width: 3% !important;
    }
    .dashboard_container{
        grid-template-rows: 12vh 20vh 10vh 20vh 30vh;
    }
    
    .tab-items{
        padding: 0rem !important;
    }
    .dashboard_left{
        grid-row: 2/4;
        grid-column: 2/-1;
    }

    .map-container{
        grid-row: 4/4;
        grid-column: 2/-1;
    }

    .tab-item>p{
        text-align: left !important;
    }

    .history{
        grid-row: 5/-1 !important ;
        grid-column: 2/-1;
    }

    .dashboard_header>img{
        width: 30%;
        margin-left: 50%;
    }
    .np-0{
        padding: 0 !important;
    }

    .map-container-resize{
        grid-row:2/4;
        grid-column: 8/-1;
    }

    .history-resize{
        grid-row:4/-1 !important;
    }
    .center-align{
        left:10% !important; 
    }

    .card-resize{
        grid-column: 2/8;
    }
}
  