.history_header{
    padding-right:2vw;
}

.history_span{
    padding-left: 2vw;
}

.history_span>span{
    margin-right:1vw;
}

.history_link:active, .active-select{
    color:#ff1149 !important;
    font-weight: bold;
    border-bottom: 0.1em solid #ff1149;
}

.filter_image{
    width: 40%;
}

.history{
    grid-row:4/-1;
    /* height:fit-content; */
}

.history-resize{
    grid-row:3/-1;
}

.history>div{
    display: flex;
    text-align: center;
    gap: 1vw;
}

.history>div>a{
    flex: 1;
}
.history_content_headings{
    list-style-type: none;
    padding-left: 0;
}

.history>div:first-child{
    flex: 2;
}

.history_content{
    text-align:center;
}

.history_item,.history_content_headings,.history_content_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.history_content_item{
    border: 1px solid gray;
    margin-bottom: 1vh;
}

.history_content_item>p{
    padding: 5%;
}

.history_header>a:hover{
    border-bottom:0.3vw solid #ff1149;
}

.history_header>a{
    color: lightgray;
    border-bottom:0.3vw solid transparent;
}
.history_header>a:hover{
    color: #ff1149 !important;
    font-weight: bold;
}
