@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
  font-family: 'Inter',sans-serif;
}

#container{
  background-color: rgb(244, 246, 250);
  min-height: 100vh;
  padding: 0;
}

#artwork{
  max-height: 60vh;
}

.menu_item>img{
  max-width: 50%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.menu_item{
  height: 100%;
  position: relative;
}
.active,.button_main:hover{
  background-color: #ff1149;
}

.button_main:hover{
  color: white;
  border: #ff1149;
}
.button_main{
  background-color: white;
  width: 150%;
}


.nav-tabs .nav-link{
  border-right: none !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2vw;
  color: lightgray;
} 

.nav-tabs .nav-link.active,.nav-link:hover,.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  color: #ff1149 !important;
  border:none;
}

#dashboard{
  display:"grid";
  grid-template-columns:"5vw repeat(11,1fr)";
  grid-template-rows:"repeat(5,20vh)";
  gap:"2%";
}

.map{
  background-image: url(/src/assets/80-cool-grey.png);
  height: 100%;
  position: relative;
}

.map>*{
  position: absolute;
}

.map_content{
  max-width: 30%;
  max-height: 30%;
  bottom: 0%;
  right: 0%;
}

.map_content.plus{
  bottom: 30%;
}

.map_arrow{
  bottom: 5%;
  left: 50%;
  right: 50%;
  height: 8%;
}


.history{
  grid-row:4/-1;
  /* height:fit-content; */
}

.history>ul{
  display: flex;
  text-align: center;
}

.history>ul>li{
  flex: 1;
}
.history>ul,.history_content_headings{
  list-style-type: none;
  padding-left: 0;
}

.history>ul:first-child{
  flex: 2;
}

.filter_image{
  width: 15%;
}

.history_content{
  text-align:center;
}

.history_content_headings{
  font-weight: bold;
}

.history_item,.history_content_headings,.history_content_item{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.history_content_item{
  border: 1px solid gray;
}

.history_content_item>p{
  margin: 0;
  padding: 5%;
}

.dashboard_right{
  grid-column: 5/-1; 
  padding:1vw;
  background-color:white;
  width:90%;
}

.map_container{
  grid-row:2 / 4;
}

.dashboard_container{
  margin:0% 2% 0% 0%;
  display:grid;
  grid-template-columns:5vw repeat(11,1fr);
  /* grid-template-rows: repeat(5,20vh); */
  grid-template-rows: 12vh 10vh 30vh 40vh;
  gap:2%;
}