@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
  font-family: 'Inter',sans-serif;
}

#container{
  background-color: rgb(244, 246, 250);
  min-height: 100vh;
  padding: 0;
}

#artwork{
  max-height: 60vh;
}

.menu_item>img{
  max-width: 50%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.menu_item{
  height: 100%;
  position: relative;
}
.active,.button_main:hover{
  background-color: #ff1149;
}

.button_main:hover{
  color: white;
  border: #ff1149;
}
.button_main{
  background-color: white;
  width: 150%;
}


.nav-tabs .nav-link{
  border-right: none !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2vw;
  color: lightgray;
} 

.nav-tabs .nav-link.active,.nav-link:hover,.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  color: #ff1149 !important;
  border:none;
}

#dashboard{
  display:"grid";
  grid-template-columns:"5vw repeat(11,1fr)";
  grid-template-rows:"repeat(5,20vh)";
  gap:"2%";
}

.map{
  background-image: url(/src/assets/80-cool-grey.png);
  height: 100%;
  position: relative;
}

.map>*{
  position: absolute;
}

.map_content{
  max-width: 50%;
  max-height: 50%;
  bottom: 0%;
  right: 0%;
}

.map_content.plus{
  bottom: 30%;
}

.map_arrow{
  bottom: 5%;
  left: 50%;
  right: 50%;
  height: 8%;
}


